*{
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Helvetica, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #fff url(/Images/bg.png);
  margin: 15px
}
ul{
  list-style: none;
}
#container {
  background: #ede9cc url(../Images/bg-container.png) top center repeat-y;
  max-width: 1180px;
  min-width: 740px;
  margin: 0 auto;
}
#topo{
  background: #dbcd87;
  height: 15.4em;
  min-height: 250px;
  position: relative;
}
#area-logo{
  width:100%;
  height: 250px;
  background: url(../Images/topo-imagem-principal.png) no-repeat left top;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.logo a{
  top: 15px;
  left: 15px;
  z-index: 3;
  background: url(../Images/logo.png) no-repeat;
  width: 151px;
  height: 66px;
  position: absolute;
  text-indent: -900px;
}
#area-menu{
  background: url(../Images/topo-imagem-lateral.png);
  width: 470px;
  height: 250px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}
#conteudo-menu{
  margin: 0 15px 0 80px;
  padding-top: 15px;
}
#menu-locais{
  border-bottom: 1px solid #b5ab56;
  border-top: 1px solid #b5ab56;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 0.75em;
  color: #8b8448;
}
#menu-locais .locais{
  float: left;
  line-height: 2.1em;
}
a.reserva{
  text-transform: uppercase;
  background: #a29750;
  color: #fff5b0;
  padding: 5px 10px;
  float: right;
  border: 1px solid #a29750;
  border-radius: 10px;
}
a{
  text-decoration: none;
}
#menu{
  margin-top: 15px;
}
.depoimento{
  width: 256px;
  height: 164px;
  float: right;
}
ul#navegacao{
  float: left;
}
ul#navegacao a{
  text-transform: uppercase;
  font-size:0.8em;
  color: #6e672c;
  font-weight: 700;
  line-height: 30px;
  padding: 5px;
}
ul#navegacao a:hover{
 background: #fdf6be;
}
#area-principal{
  float: left;
  width: 50%;
  background: url(../Images/bg-area-principal.png)top center repeat-x;
  padding-top: 15px;
}
#area-lateral{
  float: right;
  width: 50%;
  background: url(../Images/bg-area-lateral.png)top center repeat-x;
  padding-top: 20px;
}
section{
  margin: 0 auto;
  width: 90%;
  padding-top: px;
}
footer{
  padding: 16px;
  clear: both;
  background: #fff url(../Images/bg-rodape.png) repeat-x top;
  color: #7d7640;
}
p{
  padding-top: 15px;
}

ul li img{
  width: 35%;
}

#beneficios li{
  padding: 15px;
  border-bottom: 1px solid #f3efcb;
  height: 7em;

}

#beneficios li a img{
  float: left;
  margin-right: 8px;
  padding: 5px;
}
#beneficios li a{
  font-size: 0.8em;
}

#beneficios li p{
  margin: 0;
  padding: 5px;
  color: black;
}
#beneficios li  h3{
  font-size: 1.2em;
  color: #615b2d;
  padding-top: 5px;
  margin: 0;
  background: url(../Images/ornamento.png) no-repeat center right;
}
#beneficios li:hover{
  background: #f6f3d6;
  cursor: pointer;
}